<div class="form-register">
    <h4>Formulario Angular</h4>
    <div class="form">
      <div class="form-body">
        <form class="bg-secondary p-3" (ngSubmit)="onSubmit()">
            <div class="form-group mb-1">
                <input type="text" name="nombre" [(ngModel)]="nombres" placeholder="Nombres" class="controls"
                  autofocus>
              </div>
              <div class="form-group mb-1">
                <input type="text" name="apellidos" [(ngModel)]="apellidos" placeholder="Apellidos" class="controls"
                  autofocus>
              </div>
              <div class="form-group mb-1">
                <input type="number" name="tel" [(ngModel)]="telefono" placeholder="Telefono" class="controls"
                  autofocus>
              </div>
              <div class="form-group mb-1">
                <input type="text" name="correo" [(ngModel)]="correo" placeholder="Correo" class="controls"
                  autofocus>
              </div>
              <div class="form-group mb-1">
                <input type="text" name="direccion" [(ngModel)]="direccion" placeholder="Direccion" class="controls"
                  autofocus>
                  </div>
                  <div class="form-group mb-1">
                    <input type="text" name="documento" [(ngModel)]="documento" placeholder="Documento" class="controls"
                      autofocus>
                  </div>
            
            <button type="submit">Enviar</button>
          
          
        </form>
  
      </div>
    </div>
  </div>